.heroBanner {
  padding: 4rem 0;
  text-align: center;
  background-color: #0b5fff;
  color: white;
}

.section {
  margin-top: 3rem;
}

.buttons {
  margin-top: 2rem;
}

.hero__subtitle {
  margin-top: 1rem;
  font-size: 1.3rem;
}
